[submodule "submodules/selenium/elgalu-docker-selenium"]
	path = submodules/selenium/elgalu-docker-selenium
	url = https://github.com/elgalu/docker-selenium.git
[submodule "submodules/git/docker-gitlab"]
	path = submodules/git/docker-gitlab
	url = https://github.com/sameersbn/docker-gitlab
[submodule "submodules/nexus/docker-nexus"]
	path = submodules/nexus/docker-nexus
	url = https://github.com/sonatype/docker-nexus
[submodule "submodules/jenkins/docker-jenkins"]
	path = submodules/jenkins/docker-jenkins
	url = https://github.com/pboethig/jenkins.git
